main {
  width: 100%;
}

#graph {
	width: 100%;
	text-align: center;
}

.container {
	position: relative;
}

canvas {
   display: inline;
}

.botoes {
	margin-top: 1em;
}

#message {
	margin-top: 1em;
}

form {
	margin-top: 2em;
	position: absolute;
	width: 100%;
}