main {
  width: 100%;
}

#graph {
	width: 100%;
	text-align: center;
}

canvas {
   display: inline;
}

.botoes {
	margin-top: 1em;
}

#message {
	margin-top: 1em;
}

form {
	margin-top: 2em;
}

#busca {
	font-size: 2em;
    width: 100%;
    height: auto;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    color: #ab0000;
    text-shadow: 1px 1px 0px #ce0e0e;
}